<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{staff.titleCreate}"></title>
</head>
<body>

<section layout:fragment="content">
    <div class="main-header">
        <h2 class="title" th:text="#{staff.titleCreate}"></h2>
    </div>
    <th:block th:if="${message}">
        <div th:text="${message}" class="alert alert-success" role="alert">
        </div>
    </th:block>
    <form th:object="${staff}" th:action="@{/staffs/create/}" method="post" enctype="multipart/form-data" >
        <div class="form-group">
            <label th:text="#{staff.name}">: </label>
            <input th:field="*{name}" type="text" class="form-control"/>
            <br>
        </div>

        <div class="form-group">
            <label th:text="#{staff.gender}"> </label><br>
            <label><input type="radio" th:field="*{gender}" value="1" th:text="#{staff.male}"></label>
            <label><input type="radio" th:field="*{gender}" value="0" th:text="#{staff.female}"></label>
        </div>

        <div class="form-group">
            <label th:text="#{staff.picture}"></label>
            <input th:field="*{photo}" type="file" class="form-control"/>
        </div>

        <div class="form-group">
            <label th:text="#{staff.birthday}"></label>
            <input th:field="*{birthday}" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label th:text="#{staff.salary}"></label>
            <input th:field="*{salary}" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label th:text="#{staff.email}"></label>
            <input th:field="*{email}" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label th:text="#{staff.phone}"></label>
            <input th:field="*{phone}" type="text" class="form-control"/>
        </div>


        <div class="form-group">
            <label th:text="#{staff.notes}"></label>
            <textarea th:field="*{notes}" type="text" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label th:text="#{staff.depart}">: </label>
            <select class="form-control" th:field="*{depart}">
                <option th:each="departs :${departs}" th:value="${departs.id}" th:text="${departs.name}"></option>
            </select>
        </div>

        <br>
        <button class="btn btn-primary" th:text="#{staff.create}"></button>

    </form>
</section>
</body>
</html>