<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Delete Staff</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h3>Are you sure want to delete this staff ?</h3>
        <form method="post" th:action="@{/staffs/__${staff.id}__/delete}" th:object="${staff}">
            <label>Staff: <span th:text="${staff.name}"></span></label><br>
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </div>
</section>
</body>
</html>