<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit country</title>
</head>
<body>
<section layout:fragment="content">

    <div class="main-header">
        <h2 class="title">Edit country</h2>
    </div>

    <th:block th:if="${message}">
        <div th:text="${message}" class="alert alert-success" role="alert">
        </div>
    </th:block>
        <form th:object="${countries}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label>Country Name</label>
                <input type="text" class="form-control" name="name" th:field="*{name}">
            </div>

            <div class="form-group">
                <label>Group :</label>
                <select class="form-control" name="name" th:field="*{group}">
                    <option th:each="group:${groups}"
                            th:value="${group.id}"
                            th:text="${group.name}"></option>
                </select>
            </div>

            <button class="btn btn-primary" type="submit">Update</button>
        </form>
</section>
</body>
</html>