<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Delete Record</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h3>Are you sure want to delete this record ?</h3>
        <form method="post" th:action="@{/records/__${record.id}__/delete}" th:object="${record}">
            <label>Reason: <span th:text="${record.reason}"></span></label><br>
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </div>
</section>
</body>
</html>