<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>List Record</title>
</head>
<body>
<section layout:fragment="content">
    <div class="main-header row">
        <div class="col-md-6">
            <h2 class="title">List Record</h2>
        </div>
        <div class="col-md-6 text-right">
            <a href="/records/create" class="btn btn-primary">Create Record</a>
        </div>
    </div>

    <div class="main-header row">
        <form style="width: 100%;display: flex;">
            <div class="col-md-2 text-left">Search by reason:</div>
            <div class="col-md-9"><input name="string" class="form-control" type="text"/></div>
            <div class="col-md-1 text-right"><input type="submit" value="Search" class="btn btn-primary"/></div>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Serial</th>
            <th>Type</th>
            <th>Reason</th>
            <th>Post Date</th>
            <th>Staff</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record,inter : ${records}">
            <td th:text="${inter.count}"></td>
            <td th:switch="${record.type}">
                <a th:case="${false}">Bonus</a>
                <a th:case="${true}">Discipline</a>
            </td>
            <td th:text="${record.reason}"></td>
            <td th:text="${#dates.format(record.postDate,'dd/MM/yyyy')}">
            <td th:text="${record.staff.getName()}"></td>
            <td>
                <a th:href="@{/records/__${record.id}__/edit}">Edit</a>
            </td>
            <td>
                <a th:href="@{/records/__${record.id}__/delete}" class="text-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/records'(page=${records.number - 1})}" th:if="${records.hasPrevious()}">Previous</a>
        <span th:text="${records.number + 1}"></span>/<span th:text="${records.totalPages}"></span>
        <a th:href="@{'/records'(page=${records.number + 1})}" th:if="${records.hasNext()}">Next</a>
    </div>
</section>