<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{layout.title}"></title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:text="#{layout.heading}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/departs" th:text="#{layout.departs}">

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/staffs" th:text="#{layout.staffs}">

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/records" th:text="#{layout.records}">

                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login" th:text="#{layout.login}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout (<span sec:authentication="principal.username"/>)</a>
            </li>
        </ul>
    </div>
</nav>

<section layout:fragment="content" class="container main-content">

</section>

<footer>
    <p class="footer-copy">Nevermore - Pikas</p>
    Language: <a href="?lang=en" th:text="#{language.english}"></a> | <a href="?lang=vn" th:text="#{language.vietnam}"></a>
</footer>

<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

</body>
</html>
