<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="col-md-4 offset-4">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <h3 class="form-signin-heading" th:text="#{login.heading}"></h3>
                <br/>

                <input type="text" id="userName" name="userName"  th:placeholder="#{login.username_label}"
                       class="form-control" /> <br/>
                <input type="password"  th:placeholder="#{login.password_label}"
                       id="passWord" name="passWord" class="form-control" /> <br />

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20px; color: #FF1C19;" th:text="#{login.notify}"></p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="#{login.submit_label}"></button>
            </form>
            <a th:href="@{/register}" th:text="#{login.register}"></a>
        </div>
    </div>
</section>

</body>
</html>