<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{register.title}"></title>
    <style type="text/css">
        *[id$=errors]{
            color:red;
            font-style: italic;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <h2 th:text="#{register.heading}"></h2>


    <form th:action="@{/register}" th:object="${user}" method="post" class="form">
        <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
            <div th:each="error : ${#fields.errors()}" th:text="${error}"></div>
        </div>


        <div class="form-group">
            <label th:text="#{register.fullname}"></label>
            <input class="form-control" type="text" th:field="*{fullName}"/>
        </div>

        <div class="form-group">
            <label th:text="#{register.username}"></label>
            <input class="form-control" type="text" th:field="*{userName}"/>
        </div>

        <div class="form-group">
            <label th:text="#{register.password}"></label>
            <input class="form-control" type="password" th:field="*{passWord}"/>
        </div>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Register" type="Submit" th:text="#{register.button}"></button>
    </form>
</section>
