<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{depart.titleDelete}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h3 th:text="#{depart.question}"></h3>
        <form method="post" th:action="@{/departs/__${depart.id}__/delete}" th:object="${depart}">
            <label th:text="#{depart.depart}">: <span th:text="${depart.name}"></span></label><br>
            <button class="btn btn-primary" type="submit" th:text="#{depart.delete}"></button>
        </form>
    </div>
</section>
</body>
</html>