<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{depart.list}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="main-header row">
        <div class="col-md-6">
            <h2 class="title" th:text="#{depart.list}"></h2>
        </div>
        <div class="col-md-6 text-right">
            <a href="/departs/create" class="btn btn-primary" th:text="#{depart.create}"></a>
        </div>
    </div>

    <form>
        <a th:text="#{staff.search}"></a>
        <input name="string" class="form-control" type="text"/>
        <input type="submit" th:value="#{staff.search}" class="btn btn-primary"/>
    </form>

    <table class="table">
        <tr>
            <th th:text="#{depart.serial}"></th>
            <th th:text="#{depart.name}"></th>
            <th th:text="#{depart.edit}"></th>
            <th th:text="#{depart.delete}"></th>
        </tr>
        <tr th:each="d, inter:${departs}">
            <td th:text="${inter.count}"></td>
            <td>
                <a th:text="${d.name}" th:href="@{/departs/__${d.id}__/views}"></a>
            </td>
            <td><a th:href="@{/departs/__${d.id}__/edit}" th:text="#{depart.edit}"></a></td>
            <td><a th:href="@{/departs/__${d.id}__/delete}" th:text="#{depart.delete}"></a></td>
        </tr>
    </table>
    <div>
        <a th:href="@{'/departs'(page=${departs.getNumber() - 1})}" th:if="${departs.hasPrevious()}"
           th:text="#{staff.pre}"></a>
        <span th:text="${departs.number + 1}"></span>/<span th:text="${departs.totalPages}"></span>
        <a th:href="@{'/departs'(page=${departs.getNumber() + 1})}" th:if="${departs.hasNext()}"
           th:text="#{staff.next}"></a>
    </div>
</section>